  importFrom("graphics", "legend", "par", "plot", "points")
  importFrom("stats", "aggregate", "density", "quantile")
  importFrom("utils", "combn")
importFrom("graphics", "lines")
importFrom("Matrix", "Matrix")
export(sidaclassify)
export(sidatunerange)
export(sidanettunerange)
export(cvSIDA)
export(cvSIDANet)
export(CorrelationPlots)
export(DiscriminantPlots)
export(sida)
export(sidanet)
import(CVXR)
import(RSpectra)
import(foreach)
import(doParallel)
import(igraph)
import(parallel)

